<nav class="navbar navbar-inverse" role="navigation">
<div class="container">

<div class="navbar-header">
<button type="button" class="navbar-toggle
collapsed" data- 6
 toggle="collapse" data-target="#bs-examplenavbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="#">BOX</a>
</div>

<ul class="nav navbar-nav navbar-right">
	<button type="button" class="btn btn-default navbar-btn">Sign in</button>
</ul>
</div><!-- /.container-fluid -->
</nav>

<div class="jumbotron">
	<h1>Witaj w mojej aplikacji</h1>
	<p>Kiedyś będą tu ciekawe rzeczy jakie się fizjologom nie śniły</p>
	<%= link_to 'About', home_about_path, class: 'btn
btn-default' %>
	<%= link_to 'Home', root_path, class: 'btn
btn-danger' %>

</div>
